
.vs/Project_Hell_Text/FileContentIndex/e2e03385-91c9-44d9-bde4-14b191c30331.vsidx
.vs/Project_Hell_Text/v17/Browse.VC.opendb
.vs/Project_Hell_Text/FileContentIndex/7394e7cc-0be1-46ee-9ec9-fb56dcb82d50.vsidx
